@import "../css/_common.scss";

.map {
  // overflow: hidden;
  // min-height: 100vh;
  height: 100vh;
  // min-height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // display: flex;
  // flex-direction: row;
  // // width: 100vw;
  // // height: 100vh;
  // overflow: hidden;
  .title {
    height: 30px;
    line-height: 30px;
  }
  #video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    video {
      width: 150px;
      height: 150px;
      margin: 20px;
    }
  }

  canvas {
    // margin: auto;
    width: 700px;
    height: 500px;
    &:focus-visible {
      outline:none;
    }
  }
  .sider {
    width: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    transition: 0.5s ease-in;
    background-color: $text;
    position: absolute;
    &.expand {
      width: 500px;
    }
  }
}