@import "../css/_common.scss";

.user-row {
  display: flex;
  flex-direction: row;
  height: 25px;
  width: 100%;
  justify-content: flex-start;
  &.self {
    justify-content: flex-end;
  }
  .username {
    color: $blue;
    font-size: 16px;
    padding: 0 10px;
    line-height: 22px;
    &.self {
      color: $pink;
    }
  }
  .time {
    color: #666;
    line-height: 25px;
    font-size: 14px;
  }
}

.message {
  height: 25px;
  text-align: left;
  padding: 0 30px;
  font-size: 14px;
  color:  #aaa;
  line-height: 24px;
  // padding-bottom: 10px;
  &.self {
    text-align: right;
  }
}